# Created by venv; see https://docs.python.org/3/library/venv.html
venv
.DS_Store
*.pkl
*.joblib
*.h5
*.hdf5
*.pth
*.pt
*.pkl.gz
competition_data/
.ipynb_checkpoints/
*.csv
*.json
*.txt
*.log
*.err
*.out
*.pdf
*.pyc
*.Rhistory
*.png
tempCodeRunnerFile.py
*.pkl
catboost_info/